$red:                     #F80652;
$white:                   #E8F1F8;
$blue-light:              #ADC4D6;
$blue-dark:               #222F3F;
$blue-darkest:            #101C28;

$family-sans-serif:         'Lato', sans-serif;
$grey-dark:                 $blue-dark;
$grey-light:                $blue-light;
$primary:                   $red;
$link:                      $red;
$dark:                      $blue-dark;
$light:                     $blue-light;

